body
{
	background: orange;

}

/* Nav ----*/
.main-title
{
	color:orange !important;
	font-size: 26 px;
}


/*--footer*/
footer
{
	background: #222;
	text-align: center;
}

footer p
{
	text-align: justify;
}
ul.redes li
{
	display: inline-block;
}

.avatar
{
	border: 5px solid orange;
	border-radius: 50%;
	float:left;
	height: 100px;
	width: 100px;
}